
<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js">
		</script>
		<link rel='stylesheet' type='text/css' href='styles/styles.css'>
		<!--<script src="javascript/angular.js" charset="utf-8"></script>
		<script src="javascript/directives.js" charset="utf-8"></script>-->
		<title>TODO List</title>
	</head>
	<body ng-app="Tasks" ng-controller="operation">
		<todo-list></todo-list>
		<form id="addTask" name="frm">

			<div>
				Tarea:
			</div>
			<input type="text" ng-model="task.Name" required><br><br>
			<div >
				Descripción:
			</div>
			<input type="text" ng-model="task.Description" required><br><br>

			<button ng-click="addTask()" ng-disabled="frm.$invalid">Agregar Tarea</button>
			<button ng-click="deleteTask()">Eliminar Tarea</button>
			<span ng-bind="error"></span>
		</form>
		<!-- <button ng-click="list()">Listar Tareas</button> -->
		<script src="bin/app.bundle.js" charset="utf-8"></script>

	</body>
</html>
