<div class='taskClass' name='{{x.id}}'>
	<div class='radio'>
		<input type='radio' name='tasks' ng-model="$parent.delete" ng-value='{{x.id}}' value='{{x.id}}'>
	</div>
	<div class='name'>
		{{x.name}}
	</div>
	<div class='description'>
		{{x.description}}
	</div>
</div>
