.taskClass{
	width: 99%;
	height: 10%;
	border-radius: 10px;
	border: 1px solid gray;
	float: left;
}

.name{
	height: 100%;
	width: 30%;
	/*border: 1px solid green;*/
	margin-right: 15px;
	float: left;
}

.description{
	height: 100%;
	width: 56%;
	/*border: 1px solid yellow;*/
	float: left;
	overflow-y: scroll;
}

.radio{
	height: 100%;
	width: 6.5%;
	/*border: 1px solid pink;*/
	float: left;
	vertical-align: middle;
}

#addTask{
	width: 48%;
	/*height: 100%;*/
	/*border: 1px solid blue;*/
	float: left;
}

#list{
	margin: 10px;
	width: 48%;
	/*height: 100%;*/
	border: 1px solid gray;
	float: left;
	overflow-y: scroll;
}
